.hero {
  position: relative;
  background: #141429;
  height:  850px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0;
}

.hero-title{
font-family: Risque;
font-weight: 400;
font-size: 52px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

.hero-info{
font-family: Risque;
font-weight: 400;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

@media (max-width: 768px) {
.hero {
  min-height: 845px;
  justify-content: center;

}

.hero-title{
font-size: 72px;
}
.hero-info{
font-size: 38px;
}
}


.hero-btn{
width: 186px;
height: 44;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border: 2px solid #FFFFFF;
background: transparent;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
padding: 12px 43px;
}

.hero-btn:hover {
  background: #FFFFFF;
  color: #141429;
  cursor: pointer;
  transition: background 0.8s ease, color 0.8s ease;
}

.hero-content{
	margin-left: 160px;
    padding-bottom: 188px;
}
@media (max-width: 768px) {
	.hero-content{
    margin: 160px 15px 0 30px;
    height: 675px;
}
    .hero-btn{
     margin: 43px 124px;
  }
}
.img-cloud-wrapper {
  position: absolute;
    bottom: 26%;
    left: 65%;
  transform: translateX(-50%);

  height: auto;
}

.img-cloud {
  width: 100%;
  height: auto;
  display: block;
}

.hero-say {
  position: absolute;
    top: 44px;
    left: 60%;;
  transform: translateX(-50%);
  color: black; 
  font-family: Risque;
  font-weight: 400;
  font-size: 18px;
  width: 90%;
  z-index: 10;
  pointer-events: none;
}

/* По умолчанию все показываем */
.img-dedcola,
.img-cloud,
.img-snow,
.img-arrow {
  display: block;
}

/* На мобильных (например, max-width: 768px) */
@media (max-width: 768px) {
  .img-dedcola,
  .img-cloud,
  .img-snow,
  .hero-say,
  .img-arrow {
    display: none; /* скрыть все кроме деда */
  }
}

.img-dedcola,
.img-snow,
.img-arrow {
position: absolute;
}

  .img-dedcola {
	position: relative;
    top: 137px;
    left: 0;
  }

  .img-snow {
    top: 36%;
    left: -214px;
  }

  .img-arrow {
    bottom: 58px;
    left: 10%;
    transform: translateX(-50%);
  }
  
.img-dedcola-mobile {
  display: none;
}

@media (max-width: 768px) {
  .img-dedcola-desktop {
    display: none;
  }
  .img-dedcola-mobile {
    display: block;
	position: absolute;
    left: 0;
	min-width: 550px;
     bottom: 0;
  }
}

.img-cloud-wrapper {
  opacity: 0;
  transition: opacity 1s ease;
}
.img-cloud-wrapper.visible {
  opacity: 1;
}
@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-snow {
  animation: rotate-slow 60s linear infinite;
  transform-origin: center;
}

/* зірки */
.stars-bg {
  position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 0;
	overflow: hidden;
}

.star {
	position: absolute;
	border-radius: 50%;
	animation: twinkle 2s infinite ease-in-out;
	opacity: 0.8;
}

.star-yellow {
	border-radius: 0; /* Убираем скругление */
	background-color: yellow !important;
	clip-path: polygon(
		50% 0%,
		61% 35%,
		98% 35%,
		68% 57%,
		79% 91%,
		50% 70%,
		21% 91%,
		32% 57%,
		2% 35%,
		39% 35%
	);
	box-shadow: 0 0 6px yellow;
}

/* Мерцание */
@keyframes twinkle {
	0%, 100% { opacity: 0.3; }
	50% { opacity: 1; }
}

/* Дрожание / плавное движение */
@keyframes float {
	0%   { transform: translateY(0) translateX(0); }
	50%  { transform: translateY(-2px) translateX(1px); }
	100% { transform: translateY(0) translateX(0); }
}